// Colores

$colorPrincipal: #4CB8B3;
$colorSecundario: #79b9b6;
$colorLetra: rgb(32, 32, 32);
$colorLetra2: rgb(248, 248, 248);
$colorRojo: #F53756;

// TipoGrafia

$fuente__principal: 'Monserrat', sans-serif;