@use "../base/variables" as v;
@use "../base/mixins" as m;

.header {
  background-color: v.$colorPrincipal;
  &__h1 {
    margin: 0;
    padding: 0;
    color: v.$colorLetra;
  }
  &__global {
    padding: 1rem 2rem;
    text-align: center;
    @include m.tablet {
      @include m.flex(row nowrap, center, center, 2rem);
    }
  }
}
.btns {
  position: fixed;
  bottom: 10%;
  right: 15%;
  width: 2rem;
  height: 2rem;
  z-index: 2;
  @include m.tablet {
    display: none;
  }
  &__toggle {
    @include m.neo(50%, 1rem);
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    fill: v.$colorLetra;
    cursor: pointer;
    transition: all 0.5s ease;
  }
}
.nav {
  position: fixed;
  background-color: v.$colorPrincipal;
  width: 100%;
  height: 30vh;
  bottom: 0%;
  left: 120%;
  padding: 1rem;
  transition: all 0.5s ease;
  z-index: 1;
  @include m.flex(column nowrap, center, center, 2rem);
  @include m.tablet {
    @include m.flex(row nowrap, space-around, center, 2rem);
    left: 0%;
    position: relative;
    padding: 0;
    height: 0;
  }
  &__ul {
    @include m.flex(row wrap, center, center, 2rem);
    margin-bottom: 2rem;
    padding: 0;
    @include m.tablet {
      margin-bottom: 0;
    }
  }
  &__li {
    cursor: pointer;
  }
  &__link {
    font-size: 1.2rem;
    color: v.$colorLetra;
  }
  &__socials {
    @include m.flex(row wrap, center, center, 2rem);
    padding: 0;
  }
  &__icons {
    width: 1.6rem;
    fill: v.$colorLetra;
  }
}

.cabecera {
  position: relative;
  margin-bottom: 3rem;
  @include m.flex(column wrap, center, center, 1rem);
  &__video {
    position: relative;
    height: 38rem;
    z-index: -1;
    width: 100%;
    object-fit: cover;
  }
  &__text {
    position: absolute;
  }
  &__titulo {
    font-size: 5rem;
    color: v.$colorLetra;
  }
  &__subtitulo {
    font-size: 1.6rem;
    padding: 1rem;
    color: v.$colorLetra;
    background-color: v.$colorRojo;
    max-width: 28rem;
  }
}
.concierto {
  &__img {
    margin-bottom: 2rem;
    width: 100%;
  }
  &__textcontainer {
    padding: 1rem;
    @include m.flex(column wrap, start, start, 1.5rem);
    @include m.desktop {
      padding: 0;
    }
  }
  &__titulo {
    color: v.$colorLetra;
    font-size: 2rem;
  }
  &__subtitulo {
    color: v.$colorRojo;
    font-size: 1.2rem;
  }
  &__texto {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: v.$colorLetra;
    margin-bottom: 2rem;
  }
}
.lineup {
  background-color: v.$colorRojo;
  padding: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  &__h2 {
    margin-bottom: 2rem;
    color: v.$colorLetra2;
  }
  &__day {
    display: block;
    color: v.$colorLetra2;
    margin-bottom: 2rem;
  }
  &__container {
    background-color: v.$colorPrincipal;
    margin-bottom: 2rem;
  }
  &__h3 {
    margin-bottom: 2rem;
    padding-top: 2rem;
  }
  &__icon {
    margin-bottom: 2rem;
    width: 10rem;
  }
  &__textcontainer {
    @include m.flex(column wrap, start, center, 2rem);
  }
  &__horarios {
    color: v.$colorLetra;
    font-weight: bolder;
    letter-spacing: 0.0625rem;
    text-align: start;
    background-color: v.$colorSecundario;
    width: 100%;
    height: 4rem;
    padding: 1.5rem;
  }
  &__container--margin {
    margin-bottom: 0;
  }
}
.galeria {
  @include m.flex(column nowrap, center, center, 2rem);
  margin-bottom: 2rem;
  &__h2 {
    font-size: 1.4rem;
  }
  &__container {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    @include m.tablet {
      grid-template-columns: repeat(4, 1fr);
    }
    @include m.desktop {
      grid-template-columns: repeat(6, 1fr);
      padding: 0;
    }
  }
  &__img {
    cursor: pointer;
    height: 9rem;
  }
  &__muestra {
    position: fixed;
    @include m.flex(column wrap, center, center, 5rem);
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(6px);
    z-index: 3;
    padding: 1rem;
    top: 0;
    left: 120%;
    transition: all 0.5s ease;
  }
  &__seleccionado {
    width: 100%;
    max-width: 35rem;
    height: 50%;
    @include m.tablet {
      height: 35rem;
    }
    object-fit: cover;
  }
  &__close {
    width: 3.125rem;
    fill: v.$colorLetra2;
    cursor: pointer;
  }
}

.boletos {
  background-color: v.$colorRojo;
  text-align: center;
  position: relative;
  color: v.$colorLetra2;
  &__h2 {
    padding-top: 1rem;

  }
  &__global{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    @include m.telefonoL{
      
      display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem
  }
  }
  &__textcontainer{
    @include m.flex(column nowrap, center,center,0.5rem);
  }
  &__container {
    background-color: rgba(0, 0, 0, 0.596);
    backdrop-filter: blur(5px);
    @include m.flex(column nowrap, center,center,2rem);
    padding: 1rem;
    width: 100%;
  }
  &__dia {
    font-size: 1.2rem;
  }
  &__incluye{
    text-align: center;
    background-color: v.$colorPrincipal;
    width: 100%;
  }
  &__text {
    text-align: start;
    display: block;
    width: 100%;
  }
  &__precio {
    background-color: v.$colorPrincipal;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.5rem;
  }
}
.footer{
  background-color: v.$colorPrincipal;
  &__global{
    @include m.flex(row nowrap, space-around, center, 1rem);
    padding: 1rem;
  }
  &__copy{
    color: v.$colorLetra;
  }
}


.hidden {
  display: none;
}
.activo {
  left: 0%;
}
.wrapper {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
}
